name: Sync to Google Drive

on:
  push:
    branches:
      - main

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Zip Project
        run: zip -r production_app.zip . -x "*.git*"

      - name: Upload to Google Drive
        # こっちの有名なアクションに変更するよ！✨
        uses: adityak74/google-drive-upload-git-action@main
        with:
          credentials: ${{ secrets.GDRIVE_SERVICE_ACCOUNT_JSON }}
          filename: production_app.zip
          folderId: ${{ secrets.GDRIVE_FOLDER_ID }}
          overwrite: "true"
