name: Sync to Google Drive
on:
  push:
    branches: [ main ]
jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Zip Project
        run: zip -r production_app.zip . -x ".git*"
      - uses: jonas-schievink/google-drive-upload-action@v1
        with:
          credentials: ${{ secrets.GDRIVE_SERVICE_ACCOUNT_JSON }}
          filename: production_app.zip
          folderId: ${{ secrets.GDRIVE_FOLDER_ID }}
          name: production_app.zip
